.different-modes-subtitle {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.credit {
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background: rgb(239, 230, 255);
    color: rgb(96, 4, 255);
    font-size: 14px;
    font-weight: 500;
    height: 18px;
}