.upload-files {
    max-width: 636px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.upload-files-subtitle {
    max-width: 636px;
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.laptop-15 {
    margin: 0px auto;
    margin-top: 50px !important;
    width: 75% !important; 
    max-width: 640px !important;
}