.stress-unleash-title {
    max-width: 556px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.stress-unleash-subtilte {
    max-width: 556px;
    color: rgb(82, 82, 82);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.stress-unleash-img-box {
    margin: 0px auto;
    width: 75%;
    max-width: 1440px;
}