.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.padding-b-100 {
    padding-bottom: 100px;
}

.z-2 {
    z-index: 2;
}

.start {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
}

.sub-start {
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.get-started {
    font-size: 16px;
    padding: 6px 28px;
    border-radius: 12px;
}

.img-bg-pos {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    border-radius: 28px;
    overflow: hidden;
}

.new-btn.violet-fill:active,
.new-btn.violet-fill:hover {
    background: linear-gradient(135deg, #6004ff, #1a004b 23.95%, #370097 60.11%, #1a004b);
    border: 1px solid hsla(0, 0%, 100%, .2);
    color: #fff !important;
}

@media (max-width: 639px) {
    .self-container {
        padding: 20px !important;
    }
}

@media (min-width: 640px) {
    .self-container {
        padding: 60px !important;
    }
}